
a{
    color:black;
    text-decoration: none;

}
    .sidenavchat{
        border:double black;
        position:fixed;
        bottom:30%;
        right:2%;
        z-index:1;
        background-color:white;
        width:20%;
        text-align:center;
    }
.poem{
    height:250px;
    overflow:auto;
}
.poem::-webkit-scrollbar {
    display: none;
}
.infoDIsplay{
    text-align: left;
}
.prevSentences{
 
}
.allContainer{
    background-image:url("./islamicpatternss.svg");
    background-repeat:repeat;
    text-align:center;
    position:fixed; 
    width:100%;
    height:100%;
    
}

.scroll{
    width: 60%;

    position:fixed;
    left:20%;
    top:10%;
    text-align:center;

}
.topScroll{
    background-color:rgb(121, 90, 7);
    background-image:url("./islamic\ patterns.png");
    border:3px solid black;
    background-repeat:repeat;
    height:50px;

}
.ghazalTitle{
    text-aligh:center;
    color:white;
    position:relative;
    bottom: 20%;
}
.bottomScroll{
    background-color:rgb(121, 90, 7);
    background-image:url("./islamic\ patterns.png");
    border:3px solid black;
    background-repeat:repeat;
    height:50px;

}

.nameDiv{
    position:relative;
    color:white;
    top:-40%;
}
.nameQuestion{
    position:relative;
    top:10%;
}
.nameForm{
    position:relative;
    
}
.roomQuestion{
    position:relative;
    top:-15px;
}
.roomSelection{
    text-align:center;
    position:relative;
    top:-30px;

}
.nameSubmit{
    position:relative;
    top:-30px;
    left:30px;
}
.nameInputDiv{
    position:relative;
    top:-10px;
    width:60%;
    background-color:white;
    border: double black;
    text-align: center; 
   
}
.nameinput{
    margin:auto;
    width:80%;
}


.visible{
    visibility:visible
}
.invisible{
    visibility: collapse;
    width:0;
    height:0;
    margin:0;
    position:absolute;
    z-index:0;

}

@keyframes scroll{
    from{height:0}
    to{height:500px}
}

.scrollSheet{
    width:90%;
    background-color:whitesmoke;
    border: double black;
    margin-left:5%;
    /* overflow:scroll; */
    height:0;
}
.spaceBetween{
    height:5px;
}
.scrollSheet2{
animation:scroll 1s both;


}


.messageBox::-webkit-scrollbar {
    display: none;
  }
  .messageBox{
    border:double black;
    width:100%;
    overflow:scroll;
    text-align: left;
    -ms-overflow-style: none;
    scrollbar-width: none; 

}
.onChatbox{
    height:200px;
}


.rules{
    background-color:rgba(0, 0, 0, 0.452);
    /* opacity: 80%; */
    position:fixed;
    z-index:2;
    text-align:center;
    height:100%;
    width:100%;
}

.coupletInput{
    position:absolute;
    z-index:2;
    top:75%;
    left:1%;
    width:100%;
}
.coupletInput2{
    position:absolute;
    z-index:2;
    top:75%;
    left:10%;
    width:100%;
}
.lineInput{
    width:80%;
}
.lineInput2{
    width:60%;
    
}
.refrainDiv{
    width:30%;
    text-align:left;
    margin-left:5px;
}
.secondLineDiv{
    text-align:left;

}

.firstCoupletceInput{
    width:100%;
}
.subsequentCoupletceInput{
    width:100%;
    text-align: center;
    display:flex;
}
.rulesContent{
    position:fixed;
    background-color:white;
    top:30%;
    left:25%;
    width:50%;
    height:60%;
    overflow: hidden;
}

.rulesModal{
    background-color:rgba(0, 0, 0, 0.452);
    /* opacity: 80%; */
    position:fixed;
    z-index:2;
    text-align:center;
    height:100%;
    width:100%;
}
.closeRules{
    border:1px solid black;
    background-color:white;
    position:absolute;
    padding:3%;

    right:5%;
    top:1%;
}
.closeRules:hover{
    background-color:black;
    color:white;
}
.infoDisplay2{
    animation:informationExtent .5s both;
    transform-origin:left
}

/* animations */
.invisibleInfo{
    visibility: hidden;
}
@keyframes informationExtent{
    from {transform:scaleX(0)}
    to{transform:scalex(1)}
}












  



 











  @media only screen and (max-width: 480px){
  
  


}
